/* fonts */
@font-face {
  font-family: "Cochin";
  src: url("../../public/fonts/cochin.otf") format("otf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cochin Bold";
  src: url("../../public/fonts/cochin-bold.ttf") format("ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
/* fonts */

/* css overkill baselines start */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  /* border: 2px solid greenyellow; */
}

html {
  font-family: "Cochin", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  min-height: 100vh;
  overscroll-behavior: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor: none;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
button,
li,
a,
ul {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/* css overkill baselines end */

/* utils */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
/* utils */
